<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808335310742-rqd1a41beef4oetfkejkjbve92ol42em.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808335310742-rqd1a41beef4oetfkejkjbve92ol42em</string>
	<key>API_KEY</key>
	<string>AIzaSyBZq_NsU7vRs8JlEemLOu6xEavmcNTR9H8</string>
	<key>GCM_SENDER_ID</key>
	<string>808335310742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.courseApp</string>
	<key>PROJECT_ID</key>
	<string>asmaa-flutter-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>asmaa-flutter-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808335310742:ios:c17a60b9c2bb5f3f5427b7</string>
</dict>
</plist>